/***************************************************************GLOBAL**************************************************************************************/
body *{
    box-sizing: border-box;
    font-family: 'Cinzel', serif; 
    font-size: 14px;
}

body{
    background: no-repeat center center url(../image/background.jpg); /*APPLIQUER @MEDIA (BP A DEFINIR) PASSAGE DU BG EN BS: COVER*/
    background-size: cover;
    background-color: black;
    color: white;
    height: 100vh;
}

#global-header{
    color:white;
    width: 100%;
}

#global-header a{
    font-family: 'Arial', 'sans serif';
}

#global-header a, #global-header p, #global-header a i{
    text-decoration: none;
    color: rgba(255,255,255,0.5) !important;
}

#global-header a, #global-header a i{
    transition: transform .3s;
}

#global-header a:hover, #global-header a i:hover{
    text-decoration: none;
    color: rgba(255,255,255,1) !important;
    transform: scale(1.3);
}

#global-footer a{
    text-decoration: none;
    color: rgba(255,255,255,0.2) !important;
}

#global-footer a:hover{
    padding-left:2px;
    padding-right:2px;
    text-decoration: underline dotted  rgba(255,255,255,.8);
    color: rgba(255,255,255,.8) !important;
}

.animated-text, .animated-text span{
    font-size: 10px;
    color: rgba(255,255,255,0.5);
}

/********************************************************************MENU-GOEEY***************************************************************************************/

.menu img{
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.menu{
    position:relative;
    width: 80px;
    height: 80px;
}

.menu .item{
   position: absolute;
   top: 50px;
   left: 20px;
   width: 80px;
   height: 80px;
   line-height: 80px;
   border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
   transition: transform .6s ease-out ;
   cursor: pointer;
}

.item .open-menu{
    z-index: 1;
    transition: transform .3s ease-out;
    transition-delay: .3s;
}

.opened .item:nth-child(2){ transform: translateX(125px) translateY(75px); }
.opened .item:nth-child(3){ transform: translateX(125px) translateY(-75px); }
.opened .item:nth-child(4){ transform: translateX(0px); }

.opened .item.open-menu{
    transform:scale(0);
}

.item:nth-child(2){ transition-delay: 50ms ;}
.item:nth-child(3){ transition-delay: 75ms ;}
.item:nth-child(4){ transition-delay: 0ms;}

/*****************************************************************SECTIONS-MODAUX********************************************************************************************************/

.aboutme_section{
    width: 100%;
}

.aboutme_row{
    -moz-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    -o-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    min-width: 300px;
    border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
    -ms-border-radius:10px;
    -moz-border-radius:10px; 
    background-color: rgba(200,200,200, .05) !important;
}

/*****************************************************************SECTION-1-GLOBALE******************************************************************************************************/

#section-1-global{
    margin-top: 9rem;
    margin-left: 1rem;
}

#section-1-global hr{
    width: 290px;
}

#presentation{
    min-width: 300px;
}

#section-1-global h1{
    font-size: 1.8em;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #000;

}

#section-1-global h2 span{
    font-size: .9em;
} 

#section-1-global h2 {
    padding-top: 1em;
}

#section-1-global h2 span:first-child{
    color: black;
}

#section-1-global p{
    font-size: .8em;
    padding-top: .25em;
    text-shadow: 0 0 4px #000;
}

#section-1-global .buttons button{
    font-size: .8em;
    font-weight: bold;
    color: #FFF;
}

#section-1-global button:first-child{
    background-color: #BB893E;
    border: 1px solid #BB893E;
    transition: background-color .4s, color .4s;
}

#section-1-global button:nth-child(2){
    background-color: #000;
    color: #FFF ;
    border: 1px solid white;
    transition: background-color .4s, color .4s;
    margin-left: 1em;
}

#section-1-global .buttons button:nth-child(2):hover{
    background-color:#FFF;
    color: black ;
}

#section-1-global .buttons button:first-child:hover{
    background-color:rgb(187,137,62,.7);
}

#section-1-global hr{
    margin-top: 0;

}

/*******************************************************************MODAL-GLOBAL**************************************************************************************/

.modal{
    color: black;
}

.modal-body{
    background-color: white;
}

.modal-body header{
    margin: auto 0px;
}

.modal-header{
    background-color: rgba(200,200,200,.05);
}

#modal-header{
    width:100%; 
}

.modal-header a{
    color: #BB893E !important;  
}

.modal-header a:hover{
    color:rgba(0,0,0,.3)!important;
}

.title-globalsection{
    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
}

/***************************************************************SECTION-MODAL-SUPERPOSITION-EFFECT**************************************************************************************/

.superposition{
    z-index: 0; /* Z INDEX A MODIFIER POUR APPARITION SUR MODAL */
    position: absolute;
    left: 10px;
    right: 0;
    top: 10px;
    color: rgba(160,160,160,.2) !important;
    font-size:1.8em;
    font-weight: 500;
    letter-spacing: 13px;
    width: 100%;
    font-family: 'sans serif';
    text-transform: uppercase;
}


.modal-title{
    min-width: 300px;
    margin-top: .8em;
}

.modal-title-title{
    padding-top: 4px;
    font-size: 1.4em;
    text-shadow: 5px 2px 6px rgba(0,0,0,0.56);
}

.line{   
    background: rgba(160,160,160,.3);
    width: 55px;
    height: 1px;
    margin: 1px auto;
}

#portfolio_superposition{
    margin-top:-16px;
}

/***************************************************************RETURN-BUTTON**************************************************************************************/

.center-con{   
    display:flex;
}

.round{
    position:relative;
    border: 3px solid #BB893E;
    width:40px;
    height:40px;
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
}

.modal-header span{
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 15px;
    background-color:#BB893E;
    transition: 0.4s ease;
}

.modal-header span:first-child {
    display:block;
    position:absolute;
    transform: rotate(-45deg);
    top:30%;
    left: 15%;    
}

.modal-header span:nth-child(2){
    display:block;
    position:absolute;
    transform: rotate(45deg);
    top:55%;
    left: 15%;
}

.round:hover span:nth-child(1){ 
    transform:rotate(405deg);
    position:absolute;
    top:43%;
    left:25%;
}
.round:hover span:nth-child(2){ 
    transform:rotate(-405deg);
    position:absolute;
    top:43%;
    left:25%;

}

/***************************************************************ABOUT-ME-SECTION**************************************************************************************/

#section-1-aboutme{
   margin-top: 1.78em;
}

#section-1-aboutme img{
    width: 200px;
    min-width: 200px;
    height: auto;
    padding-top: 1.1em;
}

#aboutme-text{
    text-align: center;
    text-transform: uppercase;
    margin-top: .35em;
}

#aboutme-text h1{
    font-size: 1.2em;
    text-shadow: 5px 2px 6px rgba(0,0,0,0.56);
    position: relative;
}

#aboutme-text h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    border: 1px solid #BB893E;
}

#aboutme-text h1::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 40px;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    border: 1px solid #BB893E;
}

#aboutme-text h2{
    font-size: .8em;
    padding-top: .7em;
    text-shadow: 0 0 4px rgba(0, 0, 0, .1);
    color: #BB893E;
}

#aboutme-text p{
    font-size: .7em;
    padding-bottom: .8em;
    text-shadow: 0 0 4px rgba(0, 0, 0, .3);
    padding-top: .35em;
}
    


/***************************************************************ABOUT-ME-SECTION-ANIMATION-SECTION-2**************************************************************************************/

#section-2-aboutme{
    overflow: hidden;
    margin-top: 1.78em;
}

@keyframes defilement-rtl{
    0% {
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-100%,0,0);
    }
}

#moving-text p{
    font-size: 1.5em;
}

#section-2-aboutme .container #moving-text:first-child{
    display:inline-block;
    padding-right:2em;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 30s infinite linear;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
}

/***************************************************************ABOUT-ME-SECTION-SECTION-3-HOBBIES**************************************************************************************/

/***************************************************************ABOUT-ME-SECTION-4-SKILLBOX**************************************************************************************/
#section-4-aboutme{
    margin-top: 7.78em;
    position: relative;
    margin-bottom: 50px;
}

.section-4-aboutme-text{
    text-align: center;
    margin: 40px auto;
    margin-top: 0;
}

.section-4-aboutme-text span{
    font-size: .8em;
    position: relative;
    background-color: #FBFBFB;
    z-index: 1;
}

#section-4-aboutme h2{
    font-size: 1.3em;
    position: relative;
    padding-bottom: .8em;
    text-shadow: 5px 2px 6px rgba(0,0,0,0.56);
}

#section-4-aboutme h2::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 37px;
    transform: rotate(0deg);
    width: 13px;
    height: 0px;
    border: 1px solid #BB893E;
    background: #BB893E;
}

#section-4-aboutme h2::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 37px;
    transform: rotate(0deg);
    width: 13px;
    height: 0px;
    border: 1px solid #BB893E;
    background: #BB893E;
}

.section-4-aboutme-text span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
    border: 1px solid #BB893E;
    z-index: -1;
}



#SkillBox {
    font-size: 20px;
    font-family: Arial, cursive;
    width: 90%;
    height: auto;
    margin: 40px auto;
    margin-top: 0px;
    background-color: rgba(187,137,62,.7);
    border: 1px solid #cdcdcd;
    padding: .8em;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -o-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.SkillBar {
    width: 90%;
    height: 30px;
    position: relative;
    background: rgba(255, 255, 255, .5);
    margin: 20px auto;
}

#Skill-HTML {
    width: 80%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,.4);
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 80%}
}

#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 60%;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,.6);
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 60%}
}

#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 40%;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,1);
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}

#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 60%;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,.8);
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 60%}
}

#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 40%;
    height: 30px;
    position: absolute;
    background-color: rgba(0,0,0,1);
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-PHP {
    from {
    width: 40px;
}
to {
    width: 20%}
}

.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
    text-shadow: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-left: 15px;
    padding-right: 5px;
    margin-top: 4px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

/*************************************************************SECTION-3-SLIDER*******************************************************************/

#section-3-slider{
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-top: 1.78em;
}

#section-3-slider label{
    height: 30%;
}


#section-3-slider label img {
    border-bottom: 2px solid rgba(187,137,62,.5);
    border-right: 2px solid rgba(187,137,62,.5);
    border-left: 2px solid rgba(255, 255, 255, .5);
    border-top: 2px solid rgba(255, 255, 255, .5); 
}


#section-3-slider .slider-text {
  text-align: center;
  padding-top:.8em;

}

#slider-principaltitle{
    font-size: 1.3em;
    padding-bottom: .8em;
    text-shadow: 5px 2px 6px rgba(0,0,0,0.56);
}

#slider-principaltitle::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 35px;
    transform: rotate(0deg);
    width: 13px;
    height: 0px;
    border: 1px solid #BB893E;
    background: #BB893E;
}

#slider-principaltitle::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 35px;
    transform: rotate(0deg);
    width: 13px;
    height: 0px;
    border: 1px solid #BB893E;
    background: #BB893E;
}

.slider-text .slider-title{
    font-size: .9em;
    margin-bottom: 0;
}

.slider-text .slider-p{
    font-size: .7em;
    color: #BB893E;
}

[type=radio]{
    display:none;
}


#section-3-slider label{
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform .4s ease;
}

#s1:checked ~ #slide3, #s2:checked ~ #slide1, #s3:checked ~ #slide2{
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -moz-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -o-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide1{
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -moz-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -o-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);

}


#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3{
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -moz-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    -o-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);

}



@media screen and (min-width:400px){   

    .animated-text, .animated-text span{
        font-size: 12px; 
    }
}

@media screen and (min-width:700px){   

    body *{
        font-size: 16px;
    }

    .animated-text, .animated-text span{
        font-size: 16px;
    }
    
    .menu img{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }

    .menu{
        position:relative;
        width: 120px;
        height: 120px;
    }

    .menu .item{
    position: absolute;
    top: 0px;
    left: 70px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: transform 600ms ease-out ;
    cursor: pointer;
    }

    .item .open-menu{
        z-index: 1;
        transition: transform 300ms ease-out;
        transition-delay: 300ms;
    }

    .opened .item:nth-child(2){ transform: translateX(290px); }
    .opened .item:nth-child(3){ transform: translateX(150px); }
    .opened .item:nth-child(4){ transform: translateX(0px); }

    .opened .item.open-menu{
        transform:scale(0);
    }

    .item:nth-child(2){ transition-delay: 50ms ;}
    .item:nth-child(3){ transition-delay: 75ms ;}
    .item:nth-child(4){ transition-delay: 0ms;
    }

    #section-1-global{
        margin-top: 7rem;
        margin-left: 4rem;
        
    }
    
    #section-1-global hr{
        width: 480px;
    }


    #section-1-global h1{
        font-size: 2.5em;
    }
    
    #section-1-global h2 span{
        font-size: 1.4em;
    } 
    
    #section-1-global p{
        font-size: 1rem;
    }

    #section-1-global .buttons button{
        font-size: 1em;
    }

    #section-1-aboutme{
        margin-top: 1.5em;
     }

    #section-1-aboutme img{
        width: 300px;
        padding-bottom: 1.78em;
        padding-top: 1.78em;
    }

    #aboutme-text{
        margin-top: 0;
        padding-right: 2em;
        
    }

    #aboutme-text h1{
        font-size: 1.8em;
    }

    #aboutme-text h1::before{
        height: 20px;
        width: 20px;
        top: 9px;
        left: 0px;
    }

    #aboutme-text h1::after{
        height: 20px;
        width: 20px;
        top: 9px;
        right: 0px;
    }

    #aboutme-text h2{
        font-size: 1em;
    }

    .superposition{
        left: 10px;
        top: 10px;
        font-size:2.5em;   
        letter-spacing: 20px;   
    }
     
    .modal-title-title{
        padding-top: 5px;
        font-size: 1.8em;
        margin-bottom: .3em;

    }

   
    #slider-principaltitle, #section-4-aboutme h2{
        font-size: 1.8em;
    }

    .slider-text .slider-title{
        font-size: 1.2em;
    }

    .slider-text .slider-p{
        font-size: .8em;
    }

    #slider-principaltitle::before{
        top: 15px;
        left: 150px;
        width: 20px;
        height: 0px;
    }

    #slider-principaltitle::after{
        top: 15px;
        right: 150px;
        width: 20px;
        height: 0px;
    }

    #section-4-aboutme{
        padding-top: 1.78em;
    }

    #section-4-aboutme h2{
        padding-top: 1.78em;
    }

    #section-4-aboutme h2::before{
        top: 67px;
        left: 115px;
        width: 20px;
        height: 0px;
    }

    #section-4-aboutme h2::after{
        top: 67px;
        right: 115px;
        width: 20px;
        height: 0px;
    }


    #moving-text{
        font-size: 2em;
    }
    
    #SkillBox{
       margin-top: 1.78em;
       margin-bottom: 3.78em;  
    }
    
    #portfolio_superposition{
        margin-top:-15px;
    }

    
}

@media screen and (min-width:770px){ 

    .section-4-aboutme-text span{
        font-size: 1em;
    }
    .section-4-aboutme-text span::after{
        top: -30px;
        left: 50px;
        transform: rotate(45deg);
        width: 150px;
        height: 150px;
        border: 1px solid #BB893E;
        z-index: -1;
    }
}


    
.gallery {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 70vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    -moz-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    -o-box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    box-shadow: 10px 10px 5px 0px rgba(65,65,65,.1);
    line-height: 0;
    position: relative;
}

.box img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .6s;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover > img {
    width: 100%;
    height: 100%;
}

.image-overlay {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 0;
    left: 0;
    opacity:0;
    width: 100%;
    height: 100%;
    transition: opacity .6s;
}

.image-overlay h3{
    font-size: 1.5em;
}

.image-overlay p{
    margin-top: 1.5em;
    font-size: 1em;
}

.image-overlay a{
    background-color: rgba(187,137,62, 1);
    color: white;
    font-weight: bold;
    border: 2px solid rgba(187,137,62, 1);
    margin-top: .25em;
}

.image-overlay a:hover{
    background-color: rgba(187,137,62, .9);
    color: #FFF;
}

.image-overlay-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.image-overlay:hover{
    opacity:1;
}

.image-overlay-2 h3{
    
    color: #BB893E;
}


